:root {
  --Gold: #d5966c;
  --White: #ffffff;
  --AlmostBlack: #151515;
  --DarkGrey: #444444;
  --BigShouldersDisplay: "Big Shoulders Display", cursive;
  --Outfit: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a {
  font-family: var(--BigShouldersDisplay);
  text-transform: uppercase;
}

p {
  font-family: var(--Outfit);
  line-height: 28px;
  font-size: 18px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  position: absolute;
}

a img {
  background: var(--Gold);
  width: 56px;
  height: 72px;
}

button {
  position: inherit;
  font-family: var(--BigShouldersDisplay);
  background-color: var(--AlmostBlack);
  cursor: pointer;
  border: none;
  width: 208px;
  height: 72px;
  font-size: 20px;
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.addressContainer {
  background-color: var(--AlmostBlack);
  /* top: 550px; */
  width: 100%;
  height: 493px;
}

footer {
  background-color: var(--Gold);
  height: 336px;
}
